<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Index</title>
<!-- 引入bootstrap -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- 引入bootstrap-table样式 -->
<link href="css/bootstrap-table.min.css" rel="stylesheet">


</head>
<body>

	<table id="table" class="table table-hover table-bordered">
		<tr>
			<td>ID</td>
			<td>用户名</td>
			<td>密码</td>
			<td>创建时间</td>
		</tr>
	</table>

	<hr />

	<form action="addUser" id="addUser" method="post"
		class="form-horizontal">
		<div class="form-group">
			<label for="userName" class="col-sm-2 control-label">用户名：</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="userName"
					placeholder="请输入你的用户名">
			</div>
		</div>
		<div class="form-group">
			<label for="passWord" class="col-sm-2 control-label">密码：</label>
			<div class="col-sm-9">
				<input type="password" class="form-control" id="passWord"
					placeholder="请输入你的密码">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" id="btn_addUser" class="btn btn-primary">提交</button>
			</div>
		</div>
	</form>

</body>

<!-- jquery-1.8.3.js -->
<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
<!-- bootstrap-table.min.js -->
<script src="js/bootstrap-table.min.js"></script>

<script type="text/javascript">
	$(function() {
		/*
		$.post("list", function(result) {
			console.info(result[0]);
			for (var k = 0, length = result.length; k < length; k++) {
				$("#t1").append(
						"<tr><td>" + result[k].userId + "</td><td>"
								+ result[k].userName + "</td><td>"
								+ result[k].passWord + "</td><td>"
								+ result[k].creationDate + "</td></tr>");
			}
		}, "json");
		 */

		$("#btn_addUser").click(function() {
			var user = {};
			user.userName = $("#userName").val();
			user.passWord = $("#passWord").val();
			console.info(JSON.stringify(user));
			$.ajax("addUser", {
				"type" : "POST",
				"dataType" : "json",
				"contentType" : "application/json", //非常重要
				"data" : JSON.stringify(user), //必须为json字符串
				"success" : function(result) {
					if (result.code == "200") {
						alert("处理成功");
						window.location.reload();
					}
				},
				"error" : function(xhr, e, t) {
					alert("处理失败" + e);
				}
			});

		});

		$('#table').bootstrapTable({
			url : 'list',
			queryParams : function(params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
				return {
					pageSize : params.limit, // 每页要显示的数据条数
					offset : params.offset, // 每页显示数据的开始行号
					sort : params.sort, // 要排序的字段
					sortOrder : params.order, // 排序规则
					dataId : $("#dataId").val()
				// 额外添加的参数
				}
			},
			sortName : 'userId', // 要排序的字段
			sortOrder : 'asc', // 排序规则
			columns : [ {
				field : 'userId',
				title : 'ID'
			}, {
				field : 'userName',
				title : '用户名'
			}, {
				field : 'passWord',
				title : '密码'
			}, {
				field : 'creationDate',
				title : '创建时间'
			} ],
			onLoadSuccess : function() { //加载成功时执行
				console.info("加载成功");
			},
			onLoadError : function() { //加载失败时执行
				console.info("加载数据失败");
			}
		});

	})
</script>

</html>
